@media (max-width: 1300px) {
    nav.navbar .navbar-brand {
        width: 25%;
    }

    nav .navbar-toggler .navbar-toggler-icon {
        color: var(--main-color);
    }

    nav.navbar .navbar-nav .nav-item {
        margin-right: 0 !important;
    }

    nav.navbar .navbar-collapse ul:nth-of-type(2) {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    header .sc-carousel .row {
        flex-direction: column;
        justify-content: space-evenly;
    }

    header .sc-carousel .sc-carousel-item .part2 {
        align-items: end;
    }

    header .sc-carousel .sc-carousel-item .part1 h2 {
        font-size: 30px;
    }

    header .sc-carousel .sc-carousel-item .part2 img:nth-of-type(1) {
        width: 50%;
    }

    header .sc-carousel .sc-carousel-item .part2 img:nth-of-type(2) {
        width: 75%;
        top: -30%;
        left: 12%;
    }

    header .sc-carousel>button {
        top: initial;
        bottom: 0;
    }

    header .sc-carousel>button.next {
        right: 20px;
    }

    header .sc-carousel>button.prev {
        right: 80px;
        left: initial;
    }

    .popup .box {
        width: 280px;
    }

    .popup[data-popup-name="shop"] .box,
    .popup[data-popup-name="products"] .box {
        margin: 30px auto;
        width: 280px;
    }

    .popup[data-popup-name="products"] .box {
        margin: 20px auto;
    }

    #Latest .product .part1 .listImages {
        display: flex;
    }

    #Latest .product .part1 .listImages li:not(:last-child) {
        margin-right: 8px;
    }

    #Latest .product .part2 h3 {
        font-size: 18px;
    }

    #Featured .product {
        max-width: 280px;
        margin: auto;
    }

    .popup[data-popup-name="product"] {
        overflow-y: auto;
    }

    .popup[data-popup-name="product"] .box {
        margin: 250px auto 20px;
        width: 280px;
    }


}

@media (min-width: 371px) and (max-width: 1300px) {

    nav.navbar .navbar-brand {
        width: 20%;
    }

    .popup .box {
        width: 350px;
    }

    .popup[data-popup-name="shop"] .box,
    .popup[data-popup-name="products"] .box {
        width: 350px;
    }

    #Latest .product .part2 h3 {
        font-size: 20px;
    }

    .popup[data-popup-name="product"] .box {
        width: 350px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #Latest .product {
        width: 75%;
        margin: auto;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {

    nav.navbar .navbar-brand {
        width: 12%;
    }

    header .sc-carousel .row {
        flex-direction: row;
    }

    header .sc-carousel .sc-carousel-item .part1,
    header .sc-carousel .sc-carousel-item .part2 {
        align-items: center;
    }

    header .sc-carousel .sc-carousel-item .part2 img:nth-of-type(1) {
        width: 70%;
    }

    header .sc-carousel .sc-carousel-item .part2 img:nth-of-type(2) {
        width: 90%;
        top: -10%;
        left: 12%;
    }

    .popup[data-popup-name="shop"] .box,
    .popup[data-popup-name="products"] .box {
        margin: 20px auto;
        width: 750px;
    }

    #Latest .product .part1 .listImages {
        display: block;
    }

    #Latest .product .part1 .listImages li:not(:last-child) {
        margin-right: 0px;
    }

    .popup[data-popup-name="product"] .box {
        width: 750px;
        margin: auto;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {

    nav.navbar .navbar-brand {
        width: 8%;
    }

    #Latest .product {
        width: initial;
    }

    #Latest .product .part1 .part:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1181px) and (max-width: 1300px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

@media (min-width: 1300px) and (max-width: 1400px) {}
